.jumbotron{
    background-color:  hsla(135, 100%, 27%, 0.096);
    color: black;
}
footer{
    background-color: hsla(135, 100%, 27%, 0.096);
    margin-bottom: 0px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.card-hotel{
    flex: 1 150px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 8px;
}
.banner{
    width: 100%;
    height: 10%;
}
.acordion{
    margin-bottom: 10px;
}
.btnPregunta{
    width: 100%;
    border-radius: 0px;
}