$green: #d8f7e1;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
    
.jumbotron{
    background-color: $green;
    color: black;
}
footer{
    background-color: $green;
    @include margenes(10px, 0px);
    width: 100%;
    text-align: center;
}
.card-hotel{
    flex: 1 150px;
    @include margenes(10px, 0px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 8px;
}
.banner{
    width: 100%;
    height: 10%;
}
.colapse{
    @include margenes(10px, 10px);
}
.btnPregunta{
    width: 100%;
    border-radius: 0px;
}