@green: #DAF7A6;

.margenes (@top, @bottom){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron{
    background-color: @green;
    color: black;
}
footer{
    background-color: @green;
    .margenes(10px, 0px);
    width: 100%;
    text-align: center;
}
.card-hotel{
    flex: 1 150px;
    .margenes(10px, 0px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 8px;
}
.banner{
    width: 100%;
    height: 10%;
}
.acordion{
    .margenes(10px, 10px);
}
.btnPregunta{
    width: 100%;
    border-radius: 0px;
}