.jumbotron {
  background-color: #DAF7A6;
  color: black;
}
footer {
  background-color: #DAF7A6;
  margin-top: 10px;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
}
.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 8px;
}
.banner {
  width: 100%;
  height: 10%;
}
.colapse {
  margin-top: 10px;
  margin-bottom: 10px;
}
.btnPregunta {
  width: 100%;
  border-radius: 0px;
}
